---
import Section from "@/components/Section.astro";

const title = "About";
---

<Section {title}>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem debitis
        deserunt fugiat quas aut dolore ipsa voluptatum vero, a velit nesciunt,
        excepturi eaque expedita quae, non explicabo nam. Provident, dolore!
    </p>
</Section>
