---
import Section from "@/components/Section.astro";
import {resume_presentation} from "@data";

const title = "Sobre mí";
---

<Section {title}>
    <p>
        {resume_presentation}
    </p>
</Section>
