---
import { repositories } from "@data";
import Card from "@/components/Card.astro";
import Section from "@/components/Section.astro";
const title = "Proyectos";
---

<Section {title}>
    <div>
        {repositories.map((repository) => <Card {...repository} />)}
    </div>
</Section>
<style>
    div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        row-gap: 1.75rem;
        place-items: center;
    }
</style>
