---
import Section from "@/components/Section.astro";
import Card from "@/components/Card.astro";
import {repositories} from "@data";
import type { Code } from "astro:components";
const title = "Projects";
---

<Section {title}>
    {repositories.map((repository => <Card {...repository} />))}
</Section>
