---
const { title } = Astro.props;
---

<section>
    {title && <h2>{title}</h2>}
    <slot />
</section>
<style>
    h2 {
        margin-bottom: 0.5rem;
        font-weight: bold;
        text-align: center;
    }
    section {
        padding-top: 1rem;
    }

    @media (width >= 40rem) {
        h2 {
            text-align: left;
            margin-bottom: 1rem;
        }
    }
</style>
