---
import Section from "@/components/Section.astro";
const title = "Skills";
---

<Section {title}>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam id, ad
        modi expedita perspiciatis vitae alias fuga, quas minima, necessitatibus
        ullam. Similique, aperiam quis. Inventore neque dolorem voluptas
        laboriosam repellat.
    </p>
</Section>
