---
import Section from "@/components/Section.astro";

import HTML from "@/icons/html.astro";
import CSS from "@/icons/css.astro";
import JavaScript from "@/icons/javascript.astro";
import TypeScript from "@/icons/type.astro";
import React from "@/icons/react.astro";
import Node from "@/icons/node.astro";
import MySQL from "@/icons/sql.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Tailwind from "@/icons/tailwind.astro";
import Next from "@/icons/next.astro";
import { skills } from "@data";
import Swift from "@/icons/swift.astro";
import SwiftUI from "@/icons/swiftui.astro";
import Kotlin from "@/icons/kotlin.astro";
import Flutter from "@/icons/flutter.astro";
import Java from "@/icons/Java.astro";
import Ruby from "@/icons/Ruby.astro";
import Postman from "@/icons/Postman.astro";
import SASS from "@/icons/sass.astro";
import Angular from "@/icons/angular.astro";
import SpringBoot from "@/icons/springboot.astro";
const title = "Habilidades";

const SKILLS_ICONS: Record<string, any> = {
    HTML,
    CSS,
    JavaScript,
    TypeScript,
    React,
    Node,
    MySQL,
    Git,
    GitHub,
    Next,
    Tailwind,
    Swift,
    SwiftUI,
    Kotlin,
    Flutter,
    Java,
    Ruby,
    Postman,
    SASS,
    Angular,
    SpringBoot,
};
---

<Section {title}>
    <ul>
        {
            skills.map((skill) => {
                const Icon = SKILLS_ICONS[skill];

                return (
                    <li>
                        {Icon && <Icon />} <span>{skill}</span>
                    </li>
                );
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, 6rem);
        gap: 0.5rem;
        padding: 0;
        place-content: center;
    }

    li {
        align-items: center;
        background: #fffffe;
        border-radius: 0.25rem;
        display: flex;
        font-size: 0.8rem;
        font-weight: 500;
        gap: 0.125rem;
        justify-content: center;
        padding: calc(0.25rem + 0.125rem) 0.5rem;
    }
</style>
